APP_NAME=pythonSVIOT API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
DATABASE_URL=sqlite:///./app.db
RTSP_URL=rtsp://admin:hieu2004@192.168.43.176:554/onvif2
YOLO_MODEL_PATH=asssets/yolov8n.pt
MOBILENET_MODEL_PATH=asssets/MobileNetV2_best.pth
MOBILENET_LABELS_PATH=asssets/mobilenetv2.txt
